<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RO_MainFlowSuite" parallel="false">
<listeners>
 
 <listener class-name="com.sparky.listeners.ro.Listener"></listener>
 
 </listeners>
  <test name="RO_MainFlowTest">
     <classes>

        <class name="com.sparky.flows.ro.RadiationOncology"/>

    </classes>
  </test>
</suite>